<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Commands</title>
	<link rel="stylesheet" href="./../../vendor/css/photon.css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="./../../assets/css/index.css" media="screen" charset="utf-8">
	<link href="../../bower_components/material-design-lite/material.min.css" rel="stylesheet" />
	<script src="../../bower_components/material-design-lite/material.min.js"></script>
	<script src="../../bower_components/angular/angular.min.js"></script>
	<script src="../storage/common.js"></script>
	<script src="../storage/baseDAO.js"></script>
	<script src="../storage/commandDAO.js"></script>
	<script src="./index.controller.js"></script>
</head>
<body>
	<div class="header-arrow"></div>
	<div ng-controller="IndexCtrl as vm">
		<div class="window">

			<header class="toolbar toolbar-header">
				<h1 class="title">Commands</h1>
			</header>

			<div class="window-content">
				<div class="pane">

					<div class="commands list-command">

						<ul class="list-group" >
							<li class="list-group-item" ng-repeat="cmd in vm.commands">

								<div>
									<strong></strong>
									<div class="media-body">
										<strong ng-bind="cmd.name"></strong>
									<!--	<button class="btn btn-default pull-right" ng-click="vm.stop(cmd)">
											<span class="icon icon-stop" title="Stop"></span>
										</button>-->

										<button class="btn btn-default pull-right" ng-click="vm.run(cmd)">
											<span class="icon icon-play" title="Run"></span>
										</button>

										<p ng-bind="cmd.description"></p>

									</div>
								</div>


							</li>
						</ul>
					</div>


				</div>
			</div>

			<footer class="toolbar toolbar-footer">

				<div class="footer-link">
				</div>

				<div class="toolbar-actions pull-right">
					<div class="btn-group">
						<button class="btn btn-default" ng-click="vm.refresh()">
							<span class="icon icon-arrows-ccw" title="Refresh"></span>
						</button>

						<button class="btn btn-default" ng-click="vm.showSettings()">
							<span class="icon icon-pencil" title="Edit"></span>
						</button>

						<button class="btn btn-default" ng-click="vm.quit()">
							<span class="icon icon-cancel" title="Quit"></span>
						</button>
					</div>
				</div>

			</footer>
		</div>
	</div>

	<script>
	angular
	.element(document)
	.ready(function() {
		angular.bootstrap(document.body, ['IndexView']);
	});
	</script>
</body>
</html>
